In [1]:
## database_engineering.ipynb

#dependencies
import pandas as pd
import os
import matplotlib.pyplot as plt
import numpy as np
from sqlalchemy import create_engine, inspect
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import Session
Base = declarative_base()
import pymysql
pymysql.install_as_MySQLdb()
import MySQLdb

from sqlalchemy import Column, ForeignKey, Integer, String, Text, Float, Date

In [2]:
#Use Pandas to read your cleaned measurements and stations CSV data.
hm_file=os.path.join("clean_hawaii_measurements.csv")
hm_df=pd.read_csv(hm_file)
#get all data
hm_df.head()

   id      station        date  prcp  tobs
0   0  USC00519397  2010-01-01  0.08    65
1   1  USC00519397  2010-01-02  0.00    63
2   2  USC00519397  2010-01-03  0.00    74
3   3  USC00519397  2010-01-04  0.00    76
4   5  USC00519397  2010-01-07  0.06    70

In [3]:
hm_df.drop(hm_df.columns[0], axis=1, inplace=True)
hm_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-07  0.06    70

In [4]:
hm_df.count()

station    18103
date       18103
prcp       18103
tobs       18103
dtype: int64

In [5]:
hs_file=os.path.join("clean_hawaii_stations.csv")
hs_df=pd.read_csv(hs_file)
#get all data
hs_df.head()

,id,station,name,latitude,longitude,elevation
0,0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [6]:
hs_df.drop(hs_df.columns[0], axis=1, inplace=True)
hs_df.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [7]:
hs_df.count()

station      9
name         9
latitude     9
longitude    9
elevation    9
dtype: int64

In [8]:
#Use the engine and connection string to create a database called hawaii.sqlite.
#engine = create_engine("mysql://root:ikolesnik526@127.0.0.1:3306/hawaii.sqlite")
engine = create_engine("sqlite:///hawaii.sqlite")
conn = engine.connect()
session = Session(engine)
Base.metadata.bind = engine

In [9]:
#You will need a class for Measurement and for Station.
#Make sure to define your primary keys.
#Use declarative_base and create ORM classes for each table.

# Define the Station Class
class Station(Base):
    __tablename__ = 'stations'
    id = Column(Integer)
    station = Column(String(12), primary_key=True)
    name = Column(String(255))
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)

    def __init__(self):
      return "<Station(station='%s', name='%s', latitude='%s', longitude='%s', elevation='%s')>" % (
                          self.station, self.date, self.latitude, self.longitude, self.elevation)

In [10]:
   # Define the Measurement Class
class Measurement(Base):
    __tablename__ = 'measurements'
    id = Column(Integer, primary_key=True)
    station = Column(String(12), ForeignKey("stations.station"))
    date = Column(String(10))
    prcp = Column(Float)
    tobs = Column(Float)
    
  #everytime you define a method inside a class, you need to include self in the parameter, to refer it as an instance of the Class
    def __init__(self):
      return "<Measurement(station='%s', date='%s', prcp='%s', tobs='%s')>" % (
                           self.station, self.date, self.prcp, self.tobs)

In [11]:
# Create the tables in the database using create_all.
Base.metadata.drop_all()
Base.metadata.create_all(engine)

In [12]:
#Inspect database
inspector = inspect(engine)
inspector.get_table_names()

['measurements', 'stations']

In [13]:
columns = inspector.get_columns('measurements')
for c in columns:
    print(c['name'], c["type"])

id INTEGER
station VARCHAR(12)
date VARCHAR(10)
prcp FLOAT
tobs FLOAT

In [14]:
columns = inspector.get_columns('stations')
for c in columns:
    print(c['name'], c["type"])

id INTEGER
station VARCHAR(12)
name VARCHAR(255)
latitude FLOAT
longitude FLOAT
elevation FLOAT

In [15]:
#engine.dispose()

In [16]:
'''
Step 2 - Database Engineering

Use SQLAlchemy to model your table schemas and create a sqlite database for your tables. You will need
one table for measurements and one for stations.


Create a Jupyter Notebook called database_engineering.ipynb and use this to complete all of your
Database Engineering work.
Use Pandas to read your cleaned measurements and stations CSV data.
Use the engine and connection string to create a database called hawaii.sqlite.

Use declarative_base and create ORM classes for each table.


You will need a class for Measurement and for Station.
Make sure to define your primary keys.


Once you have your ORM classes defined, create the tables in the database using create_all.'''

'\nStep 2 - Database Engineering\n\nUse SQLAlchemy to model your table schemas and create a sqlite database for your tables. You will need\none table for measurements and one for stations.\n\n\nCreate a Jupyter Notebook called database_engineering.ipynb and use this to complete all of your\nDatabase Engineering work.\nUse Pandas to read your cleaned measurements and stations CSV data.\nUse the engine and connection string to create a database called hawaii.sqlite.\n\nUse declarative_base and create ORM classes for each table.\n\n\nYou will need a class for Measurement and for Station.\nMake sure to define your primary keys.\n\n\nOnce you have your ORM classes defined, create the tables in the database using create_all.'